# Análisis de ventas

Se facilita una lista de `dict` con datos reales de ventas con las siguientes keys:

* 'Order ID'
* 'Product'
* 'Quantity Ordered'
* 'Price Each
* 'Order Date'
* 'Purchase Address'

y values de tipo `str` en todos los casos:

In [1]:
%pip install pickle5
import pickle

Note: you may need to restart the kernel to use updated packages.
Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     -------------------------------------- 132.1/132.1 kB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py): started
  Building wheel for pickle5 (setup.py): finished with status 'error'
  Running setup.py clean for pickle5
Failed to build pickle5
Installing collected packages: pickle5
  Running setup.py install for pickle5: started
  Running setup.py install for pickle5: finished with status 'error'

  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [17 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build\lib.win-amd64-cpython-310
      creating build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\pickle.py -> build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\pickletools.py -> build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\__init__.py -> build\lib.win-amd64-cpython-310\pickle5
      creating build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\pickletester.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\test_pickle.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\test_picklebuffer.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\__init__.py -> build\lib.win-amd64-cpython-310\pickle5\test
      running build_ext
      building 'pickle5._pickle' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pickle5
  error: subprocess-exited-with-error

  × Running setup.py install for pickle5 did not run successfully.
  │ exit code: 1
  ╰─> [19 lines of output]
      running install
      c:\Users\mati_\anaconda3\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
        warnings.warn(
      running build
      running build_py
      creating build
      creating build\lib.win-amd64-cpython-310
      creating build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\pickle.py -> build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\pickletools.py -> build\lib.win-amd64-cpython-310\pickle5
      copying pickle5\__init__.py -> build\lib.win-amd64-cpython-310\pickle5
      creating build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\pickletester.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\test_pickle.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\test_picklebuffer.py -> build\lib.win-amd64-cpython-310\pickle5\test
      copying pickle5\test\__init__.py -> build\lib.win-amd64-cpython-310\pickle5\test
      running build_ext
      building 'pickle5._pickle' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> pickle5

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [2]:
with open('sales_data.pickle', 'rb') as handle:
    sales_data = pickle.load(handle)

In [14]:
import pandas as pd
import numpy as np

Responder los siguientes interrogantes de interés, para lo que se requiere:

* Inspeccionar los datos
* Formatearlos adecuadamente
* Elegir y confeccionar nuevas estructuras de datos

In [3]:
sales_data[0:1]

[{'Order ID': '209921',
  'Product': 'USB-C Charging Cable',
  'Quantity Ordered': '1',
  'Price Each': '11.95',
  'Order Date': '06/23/19 19:34',
  'Purchase Address': '950 Walnut St, Portland, ME 04101'}]

In [7]:
df=pd.DataFrame(sales_data)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"
...,...,...,...,...,...,...
185945,236665,Wired Headphones,1,11.99,07/20/19 16:16,"694 Meadow St, Atlanta, GA 30301"
185946,236666,20in Monitor,1,109.99,07/31/19 20:11,"866 14th St, San Francisco, CA 94016"
185947,236667,AAA Batteries (4-pack),1,2.99,07/17/19 22:29,"249 Cherry St, Dallas, TX 75001"
185948,236668,Wired Headphones,1,11.99,07/30/19 19:28,"727 Wilson St, Austin, TX 73301"
185949,236669,AAA Batteries (4-pack),1,2.99,07/10/19 01:50,"743 9th St, New York City, NY 10001"

In [17]:
df['Order Date']=pd.to_datetime(df['Order Date'])

In [18]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,2019-06-23 19:34:00,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,2019-06-30 10:05:00,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,2019-06-24 20:18:00,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,2019-06-05 10:21:00,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,2019-06-25 18:58:00,"545 2nd St, San Francisco, CA 94016"
...,...,...,...,...,...,...
185945,236665,Wired Headphones,1,11.99,2019-07-20 16:16:00,"694 Meadow St, Atlanta, GA 30301"
185946,236666,20in Monitor,1,109.99,2019-07-31 20:11:00,"866 14th St, San Francisco, CA 94016"
185947,236667,AAA Batteries (4-pack),1,2.99,2019-07-17 22:29:00,"249 Cherry St, Dallas, TX 75001"
185948,236668,Wired Headphones,1,11.99,2019-07-30 19:28:00,"727 Wilson St, Austin, TX 73301"
185949,236669,AAA Batteries (4-pack),1,2.99,2019-07-10 01:50:00,"743 9th St, New York City, NY 10001"

In [46]:
new_df = pd.DataFrame({"year": df['Order Date'].dt.year,
            "month": df['Order Date'].dt.month,
            "day": df['Order Date'].dt.day,
            "hour": df['Order Date'].dt.hour,})
new_df["Quantity Ordered"]=df['Quantity Ordered']
new_df

        year  month  day  hour Quantity Ordered
0       2019      6   23    19                1
1       2019      6   30    10                1
2       2019      6   24    20                1
3       2019      6    5    10                1
4       2019      6   25    18                1
...      ...    ...  ...   ...              ...
185945  2019      7   20    16                1
185946  2019      7   31    20                1
185947  2019      7   17    22                1
185948  2019      7   30    19                1
185949  2019      7   10     1                1

[185950 rows x 5 columns]

In [48]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              185950 non-null  int64
 1   month             185950 non-null  int64
 2   day               185950 non-null  int64
 3   hour              185950 non-null  int64
 4   Quantity Ordered  185950 non-null  object
dtypes: int64(4), object(1)
memory usage: 7.1+ MB

In [42]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 8.5+ MB

**1)** ¿Cuál es el mes que reporta **la mayor cantidad de productos**?  
*Se espera*: `El mes de mayor venta es: {Enero/Febrero/Marzo/Abril...}` *(nótese que se debe printear el nombre del mes)*

In [50]:
#transformar los datos de cuantity a int y ahi con eso los suma mes a mes
enero=df.loc[df['Order Date'].dt.month == 1, 'Quantity Ordered'].sum()

In [53]:

#convierto mi columnas qo en int64
new_df['Quantity Ordered']=new_df['Quantity Ordered'].astype('int64')
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              185950 non-null  int64
 1   month             185950 non-null  int64
 2   day               185950 non-null  int64
 3   hour              185950 non-null  int64
 4   Quantity Ordered  185950 non-null  int64
dtypes: int64(5)
memory usage: 7.1 MB

In [56]:
lista=[]
for i in [1,2,3,4,5,6,7,8,9,10,11,12]:
    
    lista.append(new_df.loc[new_df['month']== i, 'Quantity Ordered'].sum())
lista

[10903,
 13449,
 17005,
 20558,
 18667,
 15253,
 16072,
 13448,
 13109,
 22703,
 19798,
 28114]

In [59]:
lista=np.array(lista)
lista.max()

28114

In [79]:
dict2={meses:lista for (meses, lista) in zip(meses, lista)}
dict2

{'enero': 10903,
 'febrero': 13449,
 'marzo': 17005,
 'abril': 20558,
 'mayo': 18667,
 'junio': 15253,
 'julio': 16072,
 'agosto': 13448,
 'setiembre': 13109,
 'octubre': 22703,
 'noviembre': 19798,
 'diciembre': 28114}

In [63]:
dict={}
meses=['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'setiembre', 'octubre', 'noviembre', 'diciembre']
cont=0
for mes in meses:
    dict[mes]=lista[cont]
    cont+=1
dict

{'enero': 10903,
 'febrero': 13449,
 'marzo': 17005,
 'abril': 20558,
 'mayo': 18667,
 'junio': 15253,
 'julio': 16072,
 'agosto': 13448,
 'setiembre': 13109,
 'octubre': 22703,
 'noviembre': 19798,
 'diciembre': 28114}

In [78]:
dict.values()
max(dict.values())

for i in dict.keys():
    if dict[i]== max(dict.values()):
        print(f'El mes de mayor venta es {i} y la cantidad de ventas fue {max(dict.values())}')

El mes de mayor venta es diciembre y la cantidad de ventas fue 28114

**2)** ¿Qué ganancia reporta dicho mes?  
*Se espera*: `En el mes de {Enero/Febrero/Marzo/Abril...} se reporta una ganancia total de USD{xxxx.xx}` *(nótese que el monto debe incluir DOS decimales)*

In [ ]:
for transforma in sales_data:
    transforma['Price Each'] float(sales_data)

Precio = transforma['Price Each']  
Cantidad = transforma['Quantity Ordered']  
Ganancia =  Precio * Cantidad

**3)** ¿Qué porcentaje del total de las ventas representa el mes del ejercicio 1?  
*Se espera*: `Las ventas en el mes de {Enero/Febrero/Marzo/Abril...} representan un xx.xx% del total de las ventas` *(nótese que el monto debe incluir DOS decimales)*

**4)** ¿Qué ciudad reportó la mayor cantidad de ventas?  
*Se espera*: `La ciudad con mayor cantidad de ventas es {Dallas/Los Angeles/Boston...} reporta la mayor cantidad de ventas` *(nótese que se debe especificar la ciudad y no la dirección completa)*

**5)** ¿Qué porcentaje del total de las ventas representa?  
*Se espera*: `Las ventas en {Dallas/Los Angeles/Boston...} representan un xx.xx% del total` *(nótese que se debe especificar la ciudad y no la dirección completa)*

**6)** ¿En qué horas del día se deberían publicar anuncios promocionales para maximizar las ventas?  
*Se espera*: `Las horas del día en las que más ventas se registran son: {xx}hs y {yy}hs` *(nótese que se requieren horas del día, como "10hs" o "20hs")*

**7)** Determinar productos que se venden juntos y DE A DOS.  
*Se espera*: `Los siguientes productos se venden juntos y de a dos: {x}-{y}, {yy}-{zz} ...`  
**OBS**: Para una misma *orden* se pueden regitrar varios productos.

**8)** ¿Cuál es el producto más vendido?
*Se espera*: `El producto más vendido es {x}`

**9)** ¿Cuál es la relación entre el precio del producto más vendido y el del menos vendido?
*Se espera:* `El precio del producto más vendido es {n} veces mayor/menor que el producto menos vendido`

**10)** ¿Cuál es la órden con mayor cantidad de productos?
*Se espera*: `La órden con mayor cantidad de productos es la número {x}, con {y} productos en total`