In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargamos el dataset desde drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Vemos una muestra de 5 filas random del dataframe -- .sample()
DIR = "drive/MyDrive/Bootcamp DS"
df = pd.read_csv(DIR + '/data.csv', parse_dates=['Date'])
df.sample(5)

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad
58,2018-07-16,Store 1,Wine,Red,89744402585,Trapiche - Malbec - 750 mL Bottle,126.14,14.0,9.01
6,2018-07-14,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,113.49,13.0,8.73
97,2018-07-12,Store 2,Wine,Rose,85000024218,Dark Horse - S. Blanc Rose - 750 mL Bottle,83.82,NaN,13.97
36,2018-07-15,Store 3,Beer,Stouts,83783575217,Sierra Nevada Brewing Co. - Stout - 6 Pack,111.48,12.0,9.29
28,2018-07-14,Store 3,Beer,Stouts,83783575217,Sierra Nevada Brewing Co. - Stout - 6 Pack,31.52,4.0,7.88

- 1) Cómo podemos ver 'count', 'mean', 'std', 'min', 'max', y los cuartiles de la distribución para todas las columnas numéricas usando un sólo método de dataframe?

In [4]:
df.describe()

            UPC EAN     Dollars      Units  precio_unidad
count  1.320000e+02  132.000000  65.000000     132.000000
mean   2.895664e+11  143.517727   9.323077      15.857045
std    2.792268e+11  100.625155   3.057305       9.784776
min    7.125000e+10   17.640000   4.000000       4.030000
25%    8.124850e+10   71.862500   7.000000       8.652500
50%    8.974440e+10  114.680000   9.000000      11.660000
75%    6.745450e+11  178.997500  12.000000      21.440000
max    7.369201e+11  476.640000  14.000000      39.850000

- 2) Calculen la media de dólares facturados por tienda (store)

In [5]:
df

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad
0,2018-07-11,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,35.68,NaN,8.92
1,2018-07-11,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,166.74,NaN,11.91
2,2018-07-10,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,67.36,NaN,8.42
3,2018-07-10,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,80.01,NaN,8.89
4,2018-07-12,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,78.30,NaN,7.83
...,...,...,...,...,...,...,...,...,...
127,2018-07-14,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,268.52,7.0,38.36
128,2018-07-15,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,415.68,NaN,34.64
129,2018-07-15,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,476.64,NaN,39.72
130,2018-07-10,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,172.00,NaN,34.40
131,2018-07-10,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,278.80,8.0,34.85

In [6]:
df.groupby('Store')['Dollars'].mean()

Store
Store 1     82.470000
Store 2    164.433000
Store 3    146.343387
Name: Dollars, dtype: float64

- 3) Si el objeto que devuelve su código fue una serie, hagan que sea un dataframe, y viceversa

In [ ]:
df.groupby('Store')[['Dollars']].mean()

In [ ]:
## otra forma de hacerlo
df.unstack()

- 4) Ahora calculen la media de dólares facturados por tienda y categoría de bebida juntas </br>
Ej. queremos poder saber la media de dólares facturados vendiendo cerveza en la tienda 1

In [10]:
df.groupby(['Store','Category'])[['Dollars']].mean()

                     Dollars
Store   Category
Store 1 Beer      109.387500
        Wine       75.740625
Store 2 Alcohol   253.568750
        Beer      101.568750
        Wine      172.690000
Store 3 Alcohol   274.438750
        Beer       99.702143
        Wine      105.033889

- 5) A partir de la información que tienen en el dataframe, creen una columna que tenga el precio por unidad de aquello que fue facturado en cada fila. Pueden llamarla "precio_unidad"

In [12]:
df['Precio_unidad']= df['Dollars']/df['Units']
df

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad,Precio_unidad
0,2018-07-11,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,35.68,NaN,8.92,NaN
1,2018-07-11,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,166.74,NaN,11.91,NaN
2,2018-07-10,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,67.36,NaN,8.42,NaN
3,2018-07-10,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,80.01,NaN,8.89,NaN
4,2018-07-12,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,78.30,NaN,7.83,NaN
...,...,...,...,...,...,...,...,...,...,...
127,2018-07-14,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,268.52,7.0,38.36,38.36
128,2018-07-15,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,415.68,NaN,34.64,NaN
129,2018-07-15,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,476.64,NaN,39.72,NaN
130,2018-07-10,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,172.00,NaN,34.40,NaN
131,2018-07-10,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,278.80,8.0,34.85,34.85

- 6) Agrupando por categoría y subcategoría, calculen la media, la mediana, y la suma de los dólares facturados por grupo

In [14]:
df6 = df.groupby(['Category','Subcategory']).agg('mean', 'median', 'sum')
df6

                           UPC EAN     Dollars      Units  precio_unidad  \
Category Subcategory
Alcohol  Liqour       8.048028e+10  215.879000   9.000000      24.802000
         Liquor       3.504836e+11  285.878636   8.454545      33.867273
Beer     Ales         4.954389e+11   99.208929  10.230769      10.283214
         Lagers       7.027701e+11  117.638750  13.333333      11.422500
         Malts        7.125000e+10   98.895000   9.500000      10.228750
         Stouts       8.378358e+10   96.395000   9.142857      10.113333
Wine     Red          2.909372e+11   59.552917   9.583333       6.789583
         Rose         8.500002e+10  117.518750   7.800000      13.625000
         White        8.124850e+10  204.995000   6.333333      20.465000

                      Precio_unidad
Category Subcategory
Alcohol  Liqour           22.983333
         Liquor           33.831818
Beer     Ales             10.956154
         Lagers           11.946667
         Malts            10.228750
         Stouts           10.074286
Wine     Red               7.336667
         Rose             13.642000
         White            21.160000

In [26]:
## otra forma de hacerlo que me parece mejor

agregacion = {
    'Dollars': ['mean', 'median', 'sum']
}

In [27]:
df6 = df.groupby(['Category', 'Subcategory']).agg(agregacion)
df6

                         Dollars
                            mean   median      sum
Category Subcategory
Alcohol  Liqour       215.879000  229.690  2158.79
         Liquor       285.878636  268.540  6289.33
Beer     Ales          99.208929   94.580  2777.85
         Lagers       117.638750  116.750   941.11
         Malts         98.895000  105.585   791.16
         Stouts        96.395000  103.070  1156.74
Wine     Red           59.552917   52.335  1429.27
         Rose         117.518750  115.990   940.15
         White        204.995000  242.340  2459.94

- 7) Hagan lo mismo que en el ejercicio anterior, pero -usando el método agg- denle un nombre distinto a las columnas: mean_usd, median_usd y sum_usd

In [25]:
agregacion = {
    'Dollars': [('mean_usd', 'mean'), ('median_usd', 'median'), ('sum_usd', 'sum')]
}

In [31]:
df6 = df.groupby(['Category', 'Subcategory']).agg(agregacion)
df6

                         Dollars
                            mean   median      sum
Category Subcategory
Alcohol  Liqour       215.879000  229.690  2158.79
         Liquor       285.878636  268.540  6289.33
Beer     Ales          99.208929   94.580  2777.85
         Lagers       117.638750  116.750   941.11
         Malts         98.895000  105.585   791.16
         Stouts        96.395000  103.070  1156.74
Wine     Red           59.552917   52.335  1429.27
         Rose         117.518750  115.990   940.15
         White        204.995000  242.340  2459.94

- 8) Agrupando por Tienda y Categoría, calculen (con una sóla línea de código) la media de dólares facturados y la suma de unidades vendidas

In [33]:
df10 = df.groupby(['Store', 'Category']).agg({'Dollars':'mean', 'Units':'sum'})
df10

                     Dollars  Units
Store   Category
Store 1 Beer      109.387500   14.0
        Wine       75.740625   74.0
Store 2 Alcohol   253.568750   54.0
        Beer      101.568750  120.0
        Wine      172.690000   33.0
Store 3 Alcohol   274.438750   66.0
        Beer       99.702143  179.0
        Wine      105.033889   66.0

- 9) Hagan lo mismo que en el ejercicio anterior, pero que las columnas se llamen "mean_usd" y "sum_units" para que quede más clara la tabla.

Este no lo vimos - pueden hacerlo con la siguiente sintaxis: `.agg(new_col_name=('original_col_name', 'agg_func')`

In [35]:
df.groupby(['Store', 'Category']).agg(mean_usd=('Dollars','mean'), sum_units = ('Units','sum'))

                    mean_usd  sum_units
Store   Category
Store 1 Beer      109.387500       14.0
        Wine       75.740625       74.0
Store 2 Alcohol   253.568750       54.0
        Beer      101.568750      120.0
        Wine      172.690000       33.0
Store 3 Alcohol   274.438750       66.0
        Beer       99.702143      179.0
        Wine      105.033889       66.0

- 10) Ahora queremos agrupar por tienda, categoría y subcategoría, y obtener
  - para la columna de Dollars la media, y el desvío estándar, y
  - para la columna Units la media y la suma

In [38]:
df.groupby(['Store','Category','Subcategory']).agg({'Dollars':('std','mean'), 'Units':('mean','sum')})

                                 Dollars                  Units
                                     std        mean       mean   sum
Store   Category Subcategory
Store 1 Beer     Lagers        59.045244  109.387500  14.000000  14.0
        Wine     Red           30.654427   65.455000  10.600000  53.0
                 Rose          42.837387  106.597500   7.000000  21.0
Store 2 Alcohol  Liqour        59.671357  220.340000  10.500000  21.0
                 Liquor       109.314608  268.672727   8.250000  33.0
        Beer     Ales          39.846876  105.732143  11.200000  56.0
                 Malts         37.818519   98.040000   9.000000  36.0
                 Stouts        28.179094   94.206667   9.333333  28.0
        Wine     Rose          43.033414  128.440000   9.000000  18.0
                 White         85.656671  202.190000   7.500000  15.0
Store 3 Alcohol  Liqour        80.567425  211.418000   6.000000   6.0
                 Liquor       117.660718  303.084545   8.571429  60.0
        Beer     Ales          43.011161   92.685714   9.625000  77.0
                 Lagers        37.117617  125.890000  13.000000  26.0
                 Malts         42.702539   99.750000  10.000000  40.0
                 Stouts        39.433597   98.583333   9.000000  36.0
        Wine     Red           30.906734   53.650833   8.857143  62.0
                 White         97.380014  207.800000   4.000000   4.0

- 11) Chequeen si hay valores faltantes. Si hay, rellenenlos con la mediana agrupando por tienda, categoría y subcategoría </br>
Ps: usen el método apply y una función definida por ustedes

In [37]:
df

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad,Precio_unidad
0,2018-07-11,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,35.68,NaN,8.92,NaN
1,2018-07-11,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,166.74,NaN,11.91,NaN
2,2018-07-10,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,67.36,NaN,8.42,NaN
3,2018-07-10,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,80.01,NaN,8.89,NaN
4,2018-07-12,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,78.30,NaN,7.83,NaN
...,...,...,...,...,...,...,...,...,...,...
127,2018-07-14,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,268.52,7.0,38.36,38.36
128,2018-07-15,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,415.68,NaN,34.64,NaN
129,2018-07-15,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,476.64,NaN,39.72,NaN
130,2018-07-10,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,172.00,NaN,34.40,NaN
131,2018-07-10,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,278.80,8.0,34.85,34.85

In [42]:
# sin hacerlo con funcion ni apply
#Calcular la mediana por grupo
medianas = df.groupby(['Store', 'Category', 'Subcategory'])[['Dollars', 'Units']].transform('median')

# Llenar valores faltantes con las medianas por grupo
df = df.fillna(medianas)
df

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad,Precio_unidad
0,2018-07-11,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,35.68,9.5,8.92,NaN
1,2018-07-11,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,166.74,12.0,11.91,NaN
2,2018-07-10,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,67.36,9.5,8.42,NaN
3,2018-07-10,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,80.01,12.0,8.89,NaN
4,2018-07-12,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,78.30,9.5,7.83,NaN
...,...,...,...,...,...,...,...,...,...,...
127,2018-07-14,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,268.52,7.0,38.36,38.36
128,2018-07-15,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,415.68,8.0,34.64,NaN
129,2018-07-15,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,476.64,8.0,39.72,NaN
130,2018-07-10,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,172.00,8.0,34.40,NaN
131,2018-07-10,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,278.80,8.0,34.85,34.85

In [43]:
def relleno(x):
  x['Dollars'].fillna(x['Dollars'].median(), inplace=True)
  x['Units'].fillna(x['Units'].median(), inplace=True)
  return(x)

In [44]:
df = df.groupby(['Store','Category','Subcategory']).apply(relleno)
df

<ipython-input-44-f7f7174829dd>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(['Store','Category','Subcategory']).apply(relleno)

,Date,Store,Category,Subcategory,UPC EAN,Description,Dollars,Units,precio_unidad,Precio_unidad
0,2018-07-11,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,35.68,9.5,8.92,NaN
1,2018-07-11,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,166.74,12.0,11.91,NaN
2,2018-07-10,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,67.36,9.5,8.42,NaN
3,2018-07-10,Store 2,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,80.01,12.0,8.89,NaN
4,2018-07-12,Store 3,Beer,Ales,736920111112,Goose Island - Honkers Ale - 6 Pack,78.30,9.5,7.83,NaN
...,...,...,...,...,...,...,...,...,...,...
127,2018-07-14,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,268.52,7.0,38.36,38.36
128,2018-07-15,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,415.68,8.0,34.64,NaN
129,2018-07-15,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,476.64,8.0,39.72,NaN
130,2018-07-10,Store 2,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,172.00,8.0,34.40,NaN
131,2018-07-10,Store 3,Alcohol,Liquor,80432400630,Glenlivet - 12 Year Scotch Whisky - 750 mL Bottle,278.80,8.0,34.85,34.85

- 12) Creen una tabla dinámica donde tengamos en el índice la Categoría

In [49]:
tabla = pd.pivot_table(df, index = ['Category', 'Subcategory'], columns = 'Store')
tabla

<ipython-input-49-2db70c67954a>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  tabla = pd.pivot_table(df, index = ['Category', 'Subcategory'], columns = 'Store')

                       Dollars                         Precio_unidad  \
Store                  Store 1     Store 2     Store 3       Store 1
Category Subcategory
Alcohol  Liqour            NaN  220.340000  211.418000           NaN
         Liquor            NaN  268.672727  303.084545           NaN
Beer     Ales              NaN  105.732143   92.685714           NaN
         Lagers       109.3875         NaN  125.890000     12.480000
         Malts             NaN   98.040000   99.750000           NaN
         Stouts            NaN   94.206667   98.583333           NaN
Wine     Red           65.4550         NaN   53.650833      8.000000
         Rose         106.5975  128.440000         NaN     13.213333
         White             NaN  202.190000  207.800000           NaN

                                                 UPC EAN                \
Store                   Store 2    Store 3       Store 1       Store 2
Category Subcategory
Alcohol  Liqour       23.920000  21.110000           NaN  8.048028e+10
         Liquor       32.665000  34.498571           NaN  3.504836e+11
Beer     Ales         11.196000  10.806250           NaN  4.954389e+11
         Lagers             NaN  11.680000  7.027701e+11           NaN
         Malts        10.760000   9.697500           NaN  7.125000e+10
         Stouts       10.496667   9.757500           NaN  8.378358e+10
Wine     Red                NaN   6.862857  2.909372e+11           NaN
         Rose         14.285000        NaN  8.500002e+10  8.500002e+10
         White        21.040000  21.400000           NaN  8.124850e+10

                                        Units                        \
Store                      Store 3    Store 1    Store 2    Store 3
Category Subcategory
Alcohol  Liqour       8.048028e+10        NaN  10.500000   6.000000
         Liquor       3.504836e+11        NaN   8.090909   8.363636
Beer     Ales         4.954389e+11        NaN  11.714286   9.571429
         Lagers       7.027701e+11  14.000000        NaN  13.000000
         Malts        7.125000e+10        NaN   9.000000  10.000000
         Stouts       8.378358e+10        NaN   9.666667   9.166667
Wine     Red          2.909372e+11  11.416667        NaN   8.500000
         Rose                  NaN   7.000000   9.000000        NaN
         White        8.124850e+10        NaN   7.500000   4.000000

                     precio_unidad
Store                      Store 1    Store 2    Store 3
Category Subcategory
Alcohol  Liqour                NaN  24.532000  25.072000
         Liquor                NaN  33.955455  33.779091
Beer     Ales                  NaN  10.690714   9.875714
         Lagers          10.932500        NaN  11.912500
         Malts                 NaN  10.760000   9.697500
         Stouts                NaN  10.421667   9.805000
Wine     Red              7.010833        NaN   6.568333
         Rose            13.287500  13.962500        NaN
         White                 NaN  20.903333  20.026667

- 13) Si hay valores nulos, cómo los rellenan?

In [51]:
pd.pivot_table(df, index = ['Category', 'Subcategory'], columns = 'Store', fill_value= 0 )

<ipython-input-51-eb9cd2b6fee9>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(df, index = ['Category', 'Subcategory'], columns = 'Store', fill_value= 0 )

                       Dollars                         Precio_unidad  \
Store                  Store 1     Store 2     Store 3       Store 1
Category Subcategory
Alcohol  Liqour         0.0000  220.340000  211.418000      0.000000
         Liquor         0.0000  268.672727  303.084545      0.000000
Beer     Ales           0.0000  105.732143   92.685714      0.000000
         Lagers       109.3875    0.000000  125.890000     12.480000
         Malts          0.0000   98.040000   99.750000      0.000000
         Stouts         0.0000   94.206667   98.583333      0.000000
Wine     Red           65.4550    0.000000   53.650833      8.000000
         Rose         106.5975  128.440000    0.000000     13.213333
         White          0.0000  202.190000  207.800000      0.000000

                                                 UPC EAN                \
Store                   Store 2    Store 3       Store 1       Store 2
Category Subcategory
Alcohol  Liqour       23.920000  21.110000             0  8.048028e+10
         Liquor       32.665000  34.498571             0  3.504836e+11
Beer     Ales         11.196000  10.806250             0  4.954389e+11
         Lagers        0.000000  11.680000  702770081011  0.000000e+00
         Malts        10.760000   9.697500             0  7.125000e+10
         Stouts       10.496667   9.757500             0  8.378358e+10
Wine     Red           0.000000   6.862857  290937205492  0.000000e+00
         Rose         14.285000   0.000000   85000024218  8.500002e+10
         White        21.040000  21.400000             0  8.124850e+10

                                        Units                        \
Store                      Store 3    Store 1    Store 2    Store 3
Category Subcategory
Alcohol  Liqour       8.048028e+10   0.000000  10.500000   6.000000
         Liquor       3.504836e+11   0.000000   8.090909   8.363636
Beer     Ales         4.954389e+11   0.000000  11.714286   9.571429
         Lagers       7.027701e+11  14.000000   0.000000  13.000000
         Malts        7.125000e+10   0.000000   9.000000  10.000000
         Stouts       8.378358e+10   0.000000   9.666667   9.166667
Wine     Red          2.909372e+11  11.416667   0.000000   8.500000
         Rose         0.000000e+00   7.000000   9.000000   0.000000
         White        8.124850e+10   0.000000   7.500000   4.000000

                     precio_unidad
Store                      Store 1    Store 2    Store 3
Category Subcategory
Alcohol  Liqour           0.000000  24.532000  25.072000
         Liquor           0.000000  33.955455  33.779091
Beer     Ales             0.000000  10.690714   9.875714
         Lagers          10.932500   0.000000  11.912500
         Malts            0.000000  10.760000   9.697500
         Stouts           0.000000  10.421667   9.805000
Wine     Red              7.010833   0.000000   6.568333
         Rose            13.287500  13.962500   0.000000
         White            0.000000  20.903333  20.026667

- 14) Creen una tabla de frecuencias donde podamos ver por cada tienda, cuantas ventas hubo en cada categoría

In [54]:
pd.crosstab(index = df['Store'], columns = df['Category'])

Category  Alcohol  Beer  Wine
Store
Store 1         0     4    16
Store 2        16    24    10
Store 3        16    28    18

- 15) Ahora agreguen subcategoría en las columnas, así podemos ver cuántas ventas hubo por categoría y por subcategoría

In [55]:
pd.crosstab(index = df['Store'], columns = [df['Category'], df['Subcategory']])

Category    Alcohol        Beer                     Wine
Subcategory  Liqour Liquor Ales Lagers Malts Stouts  Red Rose White
Store
Store 1           0      0    0      4     0      0   12    4     0
Store 2           5     11   14      0     4      6    0    4     6
Store 3           5     11   14      4     4      6   12    0     6